* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

#line {
    text-decoration: none;
    color: black;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.weatherInfo {
    display: flex;
    vertical-align: middle; /* or top or bottom */
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
}

#input {
    display: flex;
    height: 5vh;
    width: 20%;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
    margin-top: 2vh;
}

#input:focus {
        outline: none;
    }

#btn {
    display: inline-block;
    background-color: #7aadf9;
    border-radius: 10px;
    border: 4px double #7aadf9;
    color: #eeeeee;
    text-align: center;
    font-size: 4vh;
    padding: 2vh;
    width: 10;
    height: 15%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2vh;
}

#city {
    margin-bottom: 10vh;
}

.body {
    width: 100%;
    height: 70vh;
}

html {
    height: 100vh;
}