* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.body {
    height: 80vh;
}

html {
    height: 100vh;
}